html { position: relative; min-height: 100%; }
body { margin-bottom: 6em; }
.footer { position: absolute; margin: 0; right: 0; bottom: 0; height: 6em; width: 100%; }
.dk .list-group-item { padding: 20px 15px; }
.panel-body > .table, .panel-body > .dl-horizontal { margin-bottom: 0; }
.dk .dl-horizontal { font-size: 120%; }
.dk .dl-horizontal dt { margin: 5px 0; }
.dk .dl-horizontal dd { padding: 5px 0 5px 10px; }
.dk .masthead { position: relative; }
.dk .masthead span { position: absolute; bottom: 5px; font-size: 32px; }
.dk .masthead h3 { display: inline-block; margin-left: 32px; }
.dk .masthead a { color: inherit; }
.dk .masthead a:hover, .dk .masthead a:focus { color: inherit; text-decoration: none; }
.dru-text-edit { display: none; }
.dru-edit .dru-text-view { display: none; }
.dru-edit .dru-text-edit { display: block; }
.dru-desc { color: #333; }
.dru-desc h1 { margin-top: 10px; font-size: 24px; }
.dru-desc h2 { font-size: 18px; }
.dru-desc h3 { font-size: 16px; }
.dru-desc h4 { font-size: 15px; }
.dk .btn-link { color: #777; }
.dk .btn-link:hover, .dk .btn-link:focus { color: #333; text-decoration: none; }
.dru-desc pre { border-color: transparent; }