% if "/" in reponame:
%   ns, repo = reponame.split("/", 1)
%   breadcrambs = [(ns, PREFIX + ns), (repo, PREFIX + ns + "/" + repo)]
% else:
%   breadcrambs = [(reponame, PREFIX + reponame)]
% end
% breadcrambs.append((info["name"], None))
% rebase("frame.html", title="%s:%s" % (reponame, info["name"]), breadcrambs=breadcrambs)
    <div class="row">
      <div class="col-md-12">
        <div style="position:relative">
        <h1 class="text-info">{{ reponame }} : {{ info["name"] }}</h1>
        % if DELETE_ENABLED:
        <button class="btn btn-danger" style="position:absolute;bottom:0;right:0" data-toggle="modal" data-target="#myModal">Delete This Tag</button>
        % end
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Details</h2>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              % if info["author"]:
              <dt>Author</dt><dd>{{ info["author"] }}</dd>
              % end
              <dt>Created</dt><dd><script>document.write(getDTString({{ ", ".join([str(x) for x in info["created"].timetuple()[:6]]) }}));</script></dd>
              <dt>Docker version</dt><dd>{{ info["docker_version"] }}</dd>
              <dt>OS</dt><dd>{{ info["os"] }}/{{ info["arch"] }}</dd>
              <dt>Image ID</dt><dd>{{ info["image_id"] }}</dd>
            </dl>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Labels</h2>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr><th>Key</th><th>Value</th></tr>
              </thead>
              <tbody>
                % for key, value in (sorted(info["labels"].items()) if info["labels"] else []):
                <tr><td><b>{{ key }}</b></td><td>{{ value }}</td></tr>
                % end
                % if not info["labels"]:
                <tr><td colspan="2" class="text-muted">No labels</td></tr>
                % end
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Are you sure?</h4>
          </div>
          <div class="modal-body">
            <p class="text-danger"><strong>This function is EXPERIMENTAL and DANGEROUS. Do your own risk!!</strong></p>
            <p>This action CANNOT be undone. This will permanently delete the <b>{{ reponame }}:{{ info["name"] }}</b> tag from {{ reponame }} repository.</p>
            <p>Please type in the name of the tag '<b>{{ info["name"] }}</b>' to confirm.</p>
            <input type="text" class="form-control" id="txtDelete">
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" style="width:100%" id="cmdDelete" disabled>OK, delete this TAG</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
    $(function() {
      $("#myModal").on("show.bs.modal", function(evt) {
        $("#cmdDelete").attr("disabled", true);
        $("#txtDelete").val("");
      });
      $("#txtDelete").keyup(function(evt) {
        if($(this).val() == "{{ info['name'] }}"){ $("#cmdDelete").attr("disabled", false); }
      });
      $("#cmdDelete").click(function(evt) {
        $.ajax({
          url: "{{ PREFIX }}{{ reponame }}/{{ info['name'] }}",
          method: "DELETE",
          success: function() { location.href = "{{ PREFIX }}{{ reponame }}"; }
        });
      });
    });
    </script>
